<mat-accordion class="list-group">
    <mat-expansion-panel class="list-group-item list-group-item-action  gap-3 py-3" aria-current="true"  *ngFor="let quetion of questions;let i =index ">
      <mat-expansion-panel-header class="p-0 " >
        <mat-panel-title>
            <img src="assets/icons/android.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0" style="margin-right: 1rem;" >
            <h6 class="mb-0 mt-2" >{{i+1}}. {{quetion}}</h6>
        </mat-panel-title>
        <!-- <mat-panel-description>
          This is a description
        </mat-panel-description> -->
      </mat-expansion-panel-header>
      <p>This is the primary answer of the panel.</p>
    </mat-expansion-panel>
</mat-accordion>