<div class="container px-4 py-5" id="featured-3">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient" style="text-align: center;">
                <img src="assets/icons/android.png" alt="twbs" width="32" height="32"
                    class="rounded-circle flex-shrink-0" style="margin: 16px;">
            </div>
            <h2>Android</h2>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
                probably just keep going until we run out of words.</p>
            <a routerLink="/android" class="icon-link">
                Call to action >
            
            </a>
        </div>
        <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient" style="text-align: center;">
                <img src="assets/icons/android.png" alt="twbs" width="32" height="32"
                    class="rounded-circle flex-shrink-0" style="margin: 16px;">
            </div>
            <h2>Featured title</h2>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
                probably just keep going until we run out of words.</p>
            <a href="#" class="icon-link">
                Call to action >
              
            </a>
        </div>
        <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient" style="text-align: center;">
                <img src="assets/icons/android.png" alt="twbs" width="32" height="32"
                    class="rounded-circle flex-shrink-0" style="margin: 16px;">
            </div>
            <h2>Featured title</h2>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
                probably just keep going until we run out of words.</p>
            <a href="#" class="icon-link">
                Call to action >
                
            </a>
        </div>
    </div>
</div>